# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myvenv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/


# Distribution / packaging
build/
dist/
*.egg-info/

# Data files
*.csv
*.tsv
*.json
*.log

# OS files
.DS_Store
Thumbs.db

# Model files
*.h5
*.pt
*.pth
*.ckpt

# Tokenizers cache
tokenizers_cache/
.cache/

# instruction files
problemStatement.md
