# pip install -r requirements.txt
ipykernel

langchain
langchain_experimental
langchain_openai

# Document reading & text processing
pdfplumber
markdown
beautifulsoup4

# Text processing libraries
nltk
tqdm

# Embeddings
sentence-transformers

# Vector databases 
chromadb


hf_xet


transformers
accelerate  

# Utility
python-dotenv
numpy
scikit-learn
