# Core IPython kernel for Jupyter notebooks
ipykernel

# Langchain framework and extensions
langchain
langchain_experimental
langchain_community
# langchain_openai

# Document reading & web scraping
pdfplumber
markdown
beautifulsoup4

# Text processing & NLP utilities
nltk
tqdm

# Sentence embeddings and transformer models
sentence-transformers
transformers
accelerate

# Vector database for semantic search
chromadb

hf_xet

numpy
scikit-learn

# GUI toolkit for Python
tk
streamlit